.site-content {
    font-family: "Roboto Light";
    font-size: larger;
    color: midnightblue;


}

h2 {
    font-size: x-large;
    color: #888888;
    font-family: "Roboto Thin";
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;

    letter-spacing: .15em;
    text-shadow:
            1px 0px 1px #eee, 0px 1px 1px #ccc,
            2px 1px 1px #eee, 1px 2px 1px #ccc,
            3px 2px 1px #eee, 2px 3px 1px #ccc,
            4px 3px 1px #eee, 3px 4px 1px #ccc,
            5px 4px 1px #eee, 4px 5px 1px #ccc,
            6px 5px 1px #eee, 5px 6px 1px #ccc,
            6px 6px 1px #eee;
}

.tastenfeld {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    width: 250px;
}
button{
    width: 50px;
    height: 50px;

}
.display{
    width: 250px;
    font-size: 3em;
    text-align: right;
}

